// Variables
// --------------------------

$fontawesome-font-path:    "../font/" !default;
//$fontawesome-font-path:    "//netdna.bootstrapcdn.com/font-awesome/3.2.1/font/" !default; // for referencing Bootstrap CDN font files directly
$fontawesome-font-name:    "fontawesome-webfont";
$fontawesome-font-version: "3.2.1";

$fontawesome-border-color: #eeeeee !default;
$fontawesome-muted:        #eeeeee !default;
$fontawesome-light:        white !default;
$fontawesome-dark:         #333333 !default;
$fontawesome-list-padding: (30em/14) !default;


$fontawesome-icon-glass: "\f000";

$fontawesome-icon-music: "\f001";

$fontawesome-icon-search: "\f002";

$fontawesome-icon-envelope-alt: "\f003";

$fontawesome-icon-heart: "\f004";

$fontawesome-icon-star: "\f005";

$fontawesome-icon-star-empty: "\f006";

$fontawesome-icon-user: "\f007";

$fontawesome-icon-film: "\f008";

$fontawesome-icon-th-large: "\f009";

$fontawesome-icon-th: "\f00a";

$fontawesome-icon-th-list: "\f00b";

$fontawesome-icon-ok: "\f00c";

$fontawesome-icon-remove: "\f00d";

$fontawesome-icon-zoom-in: "\f00e";

$fontawesome-icon-zoom-out: "\f010";

$fontawesome-icon-off: "\f011";

$fontawesome-icon-signal: "\f012";

$fontawesome-icon-cog: "\f013";

$fontawesome-icon-trash: "\f014";

$fontawesome-icon-home: "\f015";

$fontawesome-icon-file-alt: "\f016";

$fontawesome-icon-time: "\f017";

$fontawesome-icon-road: "\f018";

$fontawesome-icon-download-alt: "\f019";

$fontawesome-icon-download: "\f01a";

$fontawesome-icon-upload: "\f01b";

$fontawesome-icon-inbox: "\f01c";

$fontawesome-icon-play-circle: "\f01d";

$fontawesome-icon-repeat: "\f01e";

$fontawesome-icon-refresh: "\f021";

$fontawesome-icon-list-alt: "\f022";

$fontawesome-icon-lock: "\f023";

$fontawesome-icon-flag: "\f024";

$fontawesome-icon-headphones: "\f025";

$fontawesome-icon-volume-off: "\f026";

$fontawesome-icon-volume-down: "\f027";

$fontawesome-icon-volume-up: "\f028";

$fontawesome-icon-qrcode: "\f029";

$fontawesome-icon-barcode: "\f02a";

$fontawesome-icon-tag: "\f02b";

$fontawesome-icon-tags: "\f02c";

$fontawesome-icon-book: "\f02d";

$fontawesome-icon-bookmark: "\f02e";

$fontawesome-icon-print: "\f02f";

$fontawesome-icon-camera: "\f030";

$fontawesome-icon-font: "\f031";

$fontawesome-icon-bold: "\f032";

$fontawesome-icon-italic: "\f033";

$fontawesome-icon-text-height: "\f034";

$fontawesome-icon-text-width: "\f035";

$fontawesome-icon-align-left: "\f036";

$fontawesome-icon-align-center: "\f037";

$fontawesome-icon-align-right: "\f038";

$fontawesome-icon-align-justify: "\f039";

$fontawesome-icon-list: "\f03a";

$fontawesome-icon-indent-left: "\f03b";

$fontawesome-icon-indent-right: "\f03c";

$fontawesome-icon-facetime-video: "\f03d";

$fontawesome-icon-picture: "\f03e";

$fontawesome-icon-pencil: "\f040";

$fontawesome-icon-map-marker: "\f041";

$fontawesome-icon-adjust: "\f042";

$fontawesome-icon-tint: "\f043";

$fontawesome-icon-edit: "\f044";

$fontawesome-icon-share: "\f045";

$fontawesome-icon-check: "\f046";

$fontawesome-icon-move: "\f047";

$fontawesome-icon-step-backward: "\f048";

$fontawesome-icon-fast-backward: "\f049";

$fontawesome-icon-backward: "\f04a";

$fontawesome-icon-play: "\f04b";

$fontawesome-icon-pause: "\f04c";

$fontawesome-icon-stop: "\f04d";

$fontawesome-icon-forward: "\f04e";

$fontawesome-icon-fast-forward: "\f050";

$fontawesome-icon-step-forward: "\f051";

$fontawesome-icon-eject: "\f052";

$fontawesome-icon-chevron-left: "\f053";

$fontawesome-icon-chevron-right: "\f054";

$fontawesome-icon-plus-sign: "\f055";

$fontawesome-icon-minus-sign: "\f056";

$fontawesome-icon-remove-sign: "\f057";

$fontawesome-icon-ok-sign: "\f058";

$fontawesome-icon-question-sign: "\f059";

$fontawesome-icon-info-sign: "\f05a";

$fontawesome-icon-screenshot: "\f05b";

$fontawesome-icon-remove-circle: "\f05c";

$fontawesome-icon-ok-circle: "\f05d";

$fontawesome-icon-ban-circle: "\f05e";

$fontawesome-icon-arrow-left: "\f060";

$fontawesome-icon-arrow-right: "\f061";

$fontawesome-icon-arrow-up: "\f062";

$fontawesome-icon-arrow-down: "\f063";

$fontawesome-icon-share-alt: "\f064";

$fontawesome-icon-resize-full: "\f065";

$fontawesome-icon-resize-small: "\f066";

$fontawesome-icon-plus: "\f067";

$fontawesome-icon-minus: "\f068";

$fontawesome-icon-asterisk: "\f069";

$fontawesome-icon-exclamation-sign: "\f06a";

$fontawesome-icon-gift: "\f06b";

$fontawesome-icon-leaf: "\f06c";

$fontawesome-icon-fire: "\f06d";

$fontawesome-icon-eye-open: "\f06e";

$fontawesome-icon-eye-close: "\f070";

$fontawesome-icon-warning-sign: "\f071";

$fontawesome-icon-plane: "\f072";

$fontawesome-icon-calendar: "\f073";

$fontawesome-icon-random: "\f074";

$fontawesome-icon-comment: "\f075";

$fontawesome-icon-magnet: "\f076";

$fontawesome-icon-chevron-up: "\f077";

$fontawesome-icon-chevron-down: "\f078";

$fontawesome-icon-retweet: "\f079";

$fontawesome-icon-shopping-cart: "\f07a";

$fontawesome-icon-folder-close: "\f07b";

$fontawesome-icon-folder-open: "\f07c";

$fontawesome-icon-resize-vertical: "\f07d";

$fontawesome-icon-resize-horizontal: "\f07e";

$fontawesome-icon-bar-chart: "\f080";

$fontawesome-icon-twitter-sign: "\f081";

$fontawesome-icon-facebook-sign: "\f082";

$fontawesome-icon-camera-retro: "\f083";

$fontawesome-icon-key: "\f084";

$fontawesome-icon-cogs: "\f085";

$fontawesome-icon-comments: "\f086";

$fontawesome-icon-thumbs-up-alt: "\f087";

$fontawesome-icon-thumbs-down-alt: "\f088";

$fontawesome-icon-star-half: "\f089";

$fontawesome-icon-heart-empty: "\f08a";

$fontawesome-icon-log-out: "\f08b";

$fontawesome-icon-linkedin-sign: "\f08c";

$fontawesome-icon-pushpin: "\f08d";

$fontawesome-icon-external-link: "\f08e";

$fontawesome-icon-log-in: "\f090";

$fontawesome-icon-trophy: "\f091";

$fontawesome-icon-github-sign: "\f092";

$fontawesome-icon-upload-alt: "\f093";

$fontawesome-icon-lemon: "\f094";

$fontawesome-icon-earphone: "\f095";

$fontawesome-icon-unchecked: "\f096";

$fontawesome-icon-bookmark-empty: "\f097";

$fontawesome-icon-phone-sign: "\f098";

$fontawesome-icon-twitter: "\f099";

$fontawesome-icon-facebook: "\f09a";

$fontawesome-icon-github: "\f09b";

$fontawesome-icon-unlock: "\f09c";

$fontawesome-icon-credit-card: "\f09d";

$fontawesome-icon-rss: "\f09e";

$fontawesome-icon-hdd: "\f0a0";

$fontawesome-icon-bullhorn: "\f0a1";

$fontawesome-icon-bell: "\f0f3";

$fontawesome-icon-certificate: "\f0a3";

$fontawesome-icon-hand-right: "\f0a4";

$fontawesome-icon-hand-left: "\f0a5";

$fontawesome-icon-hand-up: "\f0a6";

$fontawesome-icon-hand-down: "\f0a7";

$fontawesome-icon-circle-arrow-left: "\f0a8";

$fontawesome-icon-circle-arrow-right: "\f0a9";

$fontawesome-icon-circle-arrow-up: "\f0aa";

$fontawesome-icon-circle-arrow-down: "\f0ab";

$fontawesome-icon-globe: "\f0ac";

$fontawesome-icon-wrench: "\f0ad";

$fontawesome-icon-tasks: "\f0ae";

$fontawesome-icon-filter: "\f0b0";

$fontawesome-icon-briefcase: "\f0b1";

$fontawesome-icon-fullscreen: "\f0b2";

$fontawesome-icon-group: "\f0c0";

$fontawesome-icon-link: "\f0c1";

$fontawesome-icon-cloud: "\f0c2";

$fontawesome-icon-beaker: "\f0c3";

$fontawesome-icon-cut: "\f0c4";

$fontawesome-icon-copy: "\f0c5";

$fontawesome-icon-paperclip: "\f0c6";

$fontawesome-icon-floppy-disk: "\f0c7";

$fontawesome-icon-sign-blank: "\f0c8";

$fontawesome-icon-reorder: "\f0c9";

$fontawesome-icon-list-ul: "\f0ca";

$fontawesome-icon-list-ol: "\f0cb";

$fontawesome-icon-strikethrough: "\f0cc";

$fontawesome-icon-underline: "\f0cd";

$fontawesome-icon-table: "\f0ce";

$fontawesome-icon-magic: "\f0d0";

$fontawesome-icon-truck: "\f0d1";

$fontawesome-icon-pinterest: "\f0d2";

$fontawesome-icon-pinterest-sign: "\f0d3";

$fontawesome-icon-google-plus-sign: "\f0d4";

$fontawesome-icon-google-plus: "\f0d5";

$fontawesome-icon-money: "\f0d6";

$fontawesome-icon-caret-down: "\f0d7";

$fontawesome-icon-caret-up: "\f0d8";

$fontawesome-icon-caret-left: "\f0d9";

$fontawesome-icon-caret-right: "\f0da";

$fontawesome-icon-columns: "\f0db";

$fontawesome-icon-sort: "\f0dc";

$fontawesome-icon-sort-down: "\f0dd";

$fontawesome-icon-sort-up: "\f0de";

$fontawesome-icon-envelope: "\f0e0";

$fontawesome-icon-linkedin: "\f0e1";

$fontawesome-icon-undo: "\f0e2";

$fontawesome-icon-legal: "\f0e3";

$fontawesome-icon-dashboard: "\f0e4";

$fontawesome-icon-comment-alt: "\f0e5";

$fontawesome-icon-comments-alt: "\f0e6";

$fontawesome-icon-flash: "\f0e7";

$fontawesome-icon-sitemap: "\f0e8";

$fontawesome-icon-umbrella: "\f0e9";

$fontawesome-icon-paste: "\f0ea";

$fontawesome-icon-lightbulb: "\f0eb";

$fontawesome-icon-exchange: "\f0ec";

$fontawesome-icon-cloud-download: "\f0ed";

$fontawesome-icon-cloud-upload: "\f0ee";

$fontawesome-icon-user-md: "\f0f0";

$fontawesome-icon-stethoscope: "\f0f1";

$fontawesome-icon-suitcase: "\f0f2";

$fontawesome-icon-bell-alt: "\f0a2";

$fontawesome-icon-coffee: "\f0f4";

$fontawesome-icon-cutlery: "\f0f5";

$fontawesome-icon-file-text-alt: "\f0f6";

$fontawesome-icon-building: "\f0f7";

$fontawesome-icon-hospital: "\f0f8";

$fontawesome-icon-ambulance: "\f0f9";

$fontawesome-icon-medkit: "\f0fa";

$fontawesome-icon-fighter-jet: "\f0fb";

$fontawesome-icon-beer: "\f0fc";

$fontawesome-icon-h-sign: "\f0fd";

$fontawesome-icon-plus-sign-alt: "\f0fe";

$fontawesome-icon-double-angle-left: "\f100";

$fontawesome-icon-double-angle-right: "\f101";

$fontawesome-icon-double-angle-up: "\f102";

$fontawesome-icon-double-angle-down: "\f103";

$fontawesome-icon-angle-left: "\f104";

$fontawesome-icon-angle-right: "\f105";

$fontawesome-icon-angle-up: "\f106";

$fontawesome-icon-angle-down: "\f107";

$fontawesome-icon-desktop: "\f108";

$fontawesome-icon-laptop: "\f109";

$fontawesome-icon-tablet: "\f10a";

$fontawesome-icon-phone: "\f10b";

$fontawesome-icon-circle-blank: "\f10c";

$fontawesome-icon-quote-left: "\f10d";

$fontawesome-icon-quote-right: "\f10e";

$fontawesome-icon-spinner: "\f110";

$fontawesome-icon-circle: "\f111";

$fontawesome-icon-reply: "\f112";

$fontawesome-icon-github-alt: "\f113";

$fontawesome-icon-folder-close-alt: "\f114";

$fontawesome-icon-folder-open-alt: "\f115";

$fontawesome-icon-expand-alt: "\f116";

$fontawesome-icon-collapse-alt: "\f117";

$fontawesome-icon-smile: "\f118";

$fontawesome-icon-frown: "\f119";

$fontawesome-icon-meh: "\f11a";

$fontawesome-icon-gamepad: "\f11b";

$fontawesome-icon-keyboard: "\f11c";

$fontawesome-icon-flag-alt: "\f11d";

$fontawesome-icon-flag-checkered: "\f11e";

$fontawesome-icon-terminal: "\f120";

$fontawesome-icon-code: "\f121";

$fontawesome-icon-reply-all: "\f122";

$fontawesome-icon-mail-reply-all: "\f122";

$fontawesome-icon-star-half-empty: "\f123";

$fontawesome-icon-location-arrow: "\f124";

$fontawesome-icon-crop: "\f125";

$fontawesome-icon-code-fork: "\f126";

$fontawesome-icon-unlink: "\f127";

$fontawesome-icon-question: "\f128";

$fontawesome-icon-info: "\f129";

$fontawesome-icon-exclamation: "\f12a";

$fontawesome-icon-superscript: "\f12b";

$fontawesome-icon-subscript: "\f12c";

$fontawesome-icon-eraser: "\f12d";

$fontawesome-icon-puzzle-piece: "\f12e";

$fontawesome-icon-microphone: "\f130";

$fontawesome-icon-microphone-off: "\f131";

$fontawesome-icon-shield: "\f132";

$fontawesome-icon-calendar-empty: "\f133";

$fontawesome-icon-fire-extinguisher: "\f134";

$fontawesome-icon-rocket: "\f135";

$fontawesome-icon-maxcdn: "\f136";

$fontawesome-icon-chevron-sign-left: "\f137";

$fontawesome-icon-chevron-sign-right: "\f138";

$fontawesome-icon-chevron-sign-up: "\f139";

$fontawesome-icon-chevron-sign-down: "\f13a";

$fontawesome-icon-html5: "\f13b";

$fontawesome-icon-css3: "\f13c";

$fontawesome-icon-anchor: "\f13d";

$fontawesome-icon-unlock-alt: "\f13e";

$fontawesome-icon-bullseye: "\f140";

$fontawesome-icon-ellipsis-horizontal: "\f141";

$fontawesome-icon-ellipsis-vertical: "\f142";

$fontawesome-icon-rss-sign: "\f143";

$fontawesome-icon-play-sign: "\f144";

$fontawesome-icon-ticket: "\f145";

$fontawesome-icon-minus-sign-alt: "\f146";

$fontawesome-icon-check-minus: "\f147";

$fontawesome-icon-level-up: "\f148";

$fontawesome-icon-level-down: "\f149";

$fontawesome-icon-check-sign: "\f14a";

$fontawesome-icon-edit-sign: "\f14b";

$fontawesome-icon-external-link-sign: "\f14c";

$fontawesome-icon-share-sign: "\f14d";

$fontawesome-icon-compass: "\f14e";

$fontawesome-icon-collapse-down: "\f150";

$fontawesome-icon-collapse-up: "\f151";

$fontawesome-icon-expand: "\f152";

$fontawesome-icon-eur: "\f153";

$fontawesome-icon-gbp: "\f154";

$fontawesome-icon-usd: "\f155";

$fontawesome-icon-inr: "\f156";

$fontawesome-icon-jpy: "\f157";

$fontawesome-icon-cny: "\f158";

$fontawesome-icon-krw: "\f159";

$fontawesome-icon-btc: "\f15a";

$fontawesome-icon-file: "\f15b";

$fontawesome-icon-file-text: "\f15c";

$fontawesome-icon-sort-by-alphabet: "\f15d";

$fontawesome-icon-sort-by-alphabet-alt: "\f15e";

$fontawesome-icon-sort-by-attributes: "\f160";

$fontawesome-icon-sort-by-attributes-alt: "\f161";

$fontawesome-icon-sort-by-order: "\f162";

$fontawesome-icon-sort-by-order-alt: "\f163";

$fontawesome-icon-thumbs-up: "\f164";

$fontawesome-icon-thumbs-down: "\f165";

$fontawesome-icon-youtube-sign: "\f166";

$fontawesome-icon-youtube: "\f167";

$fontawesome-icon-xing: "\f168";

$fontawesome-icon-xing-sign: "\f169";

$fontawesome-icon-youtube-play: "\f16a";

$fontawesome-icon-dropbox: "\f16b";

$fontawesome-icon-stackoverflow: "\f16c";

$fontawesome-icon-instagram: "\f16d";

$fontawesome-icon-flickr: "\f16e";

$fontawesome-icon-adn: "\f170";

$fontawesome-icon-bitbucket: "\f171";

$fontawesome-icon-bitbucket-sign: "\f172";

$fontawesome-icon-tumblr: "\f173";

$fontawesome-icon-tumblr-sign: "\f174";

$fontawesome-icon-long-arrow-down: "\f175";

$fontawesome-icon-long-arrow-up: "\f176";

$fontawesome-icon-long-arrow-left: "\f177";

$fontawesome-icon-long-arrow-right: "\f178";

$fontawesome-icon-apple: "\f179";

$fontawesome-icon-windows: "\f17a";

$fontawesome-icon-android: "\f17b";

$fontawesome-icon-linux: "\f17c";

$fontawesome-icon-dribbble: "\f17d";

$fontawesome-icon-skype: "\f17e";

$fontawesome-icon-foursquare: "\f180";

$fontawesome-icon-trello: "\f181";

$fontawesome-icon-female: "\f182";

$fontawesome-icon-male: "\f183";

$fontawesome-icon-gittip: "\f184";

$fontawesome-icon-sun: "\f185";

$fontawesome-icon-moon: "\f186";

$fontawesome-icon-archive: "\f187";

$fontawesome-icon-bug: "\f188";

$fontawesome-icon-vk: "\f189";

$fontawesome-icon-weibo: "\f18a";

$fontawesome-icon-renren: "\f18b";

